<h1>プロフィール編集</h1>

<%= form_with model: @users do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <p>メールアドレス変更後はメールを確認してください</p>
  <div>post_code<%= form.text_field :post_code %></div>
  <div>address<%= form.text_field :address %></div>
  <div>self_introduction <%= form.text_field :self_introduction %></div>

  <div><%= form.submit "保存" %></div>
<% end %>
