<p id="notice"><%= notice %></p>

<h1><%= User.model_name.human %></h1>

<table>
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:id) %></th>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:details) %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.email %></t>
      <td><%= link_to t('views.common.show'), "/users/#{f.id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>
