<p id="notice"><%= notice %></p>
<% if user_signed_in? && @users == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>
<p>
  <strong><%= User.human_attribute_name(:title) %>:</strong>
  <%= @users.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:memo) %>:</strong>
  <%= @users.post_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:author) %>:</strong>
  <%= @users.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:author) %>:</strong>
  <%= @users.self_introduction %>
</p>

<% if user_signed_in? && @users == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>
